* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  
  background: #000;
  height: 100vh;
  background: #27282D;
  justify-content: center;
  display: flex;
}


/* 
main {
  height: 100vh;
  margin: 0px 100px;
  background: #27282D;
  justify-content: center;
  display: flex;
} */

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 20px 55px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  transition: box-shadow .3s;
}

.btn {
  color: lime;
  border: none;
}

.btn:hover {
  background: lime;
  color: #000;
  box-shadow: 0 0 50px lime;
  border-radius: 10px;
  transition: .7s;
}